header{
    width: 100%;
    height:5rem;
                /* imaginea o sa fie mai mare decat containerul daca ii setez un height de 5rem=50px care e mai mic decat imaginea, 
                deci o sa flow pe dinafara.=> section-ul o sa urce peste imagine, imediat dupa header-ul de inaltime 5rem. */
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 1; */
} 



.container {
    width: 100%;
    max-width:98rem;
    margin:0 auto;
    padding: 0 1.5rem;
    /* center si add padding celor doua containere stanga-dreapta */
}

nav {
    width: 100%;
    display : flex;
    align-items: center;
    justify-content: space-between;
                /* centrez pe directia x-axes si aliniez y-axes tot central elementele singurul nav bar : logo+menu+ul */
                /* imaginea o sa se micsoreze! cand ai pe acelasi rand imagine si text/ iconuri/ul. Cred ca dupa proprietatea de jutsify-content, browserul imparte
                in mod egal spatiul astefl incat sa alinieze central => determina un width pt imagine si heightil calculeaza automat auto ca sa patreze ratio-avem
                si proprietatea height:auto la img, mai sus */
    padding: 1rem 0;
    border-bottom: 1 px solid rgba(255, 255,255, 0.2);
}

nav-brand {
    width: 2rem ;
}

.menu-icons i {
    font-size: 3.5rem;
}

